name: update_impl

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - ROS_DISTRO=noetic ALPINE_VERSION=3.17 ROS_DISTRIBUTION_TYPE=ros1
          - ROS_DISTRO=humble ALPINE_VERSION=3.17 ROS_DISTRIBUTION_TYPE=ros2
          - ROS_DISTRO=noetic ALPINE_VERSION=3.20 ROS_DISTRIBUTION_TYPE=ros1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        run: |
          eval export ${{ matrix.env }}
          make build-updater

      - name: Dry-run
        run: |
          eval export ${{ matrix.env }}
          echo machine github.com > ${HOME}/.netrc \
            && echo login ${{ secrets.SQBOT_GITHUB_TOKEN }} >> ${HOME}/.netrc
          make dry-run
          rm -f ${HOME}/.netrc

      - name: Deploy
        if: |
          (github.event_name == 'push' && github.ref == 'refs/heads/master') ||
          github.event_name == 'schedule' ||
          (github.event_name == 'workflow_dispatch' && !inputs.dry)
        run: |
          eval export ${{ matrix.env }}
          echo machine github.com > ${HOME}/.netrc \
            && echo login ${{ secrets.SQBOT_GITHUB_TOKEN }} >> ${HOME}/.netrc
          make run
          rm -f ${HOME}/.netrc
